.main {
    background-image: url(../../img/sections/bg-1.jpg);
    background-size: cover;
}

.main__container {
    display: flex; 
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header {
    display: flex;
    height: 90px;
    width: 950px; 
    justify-content: flex-end;
    align-items: center;
}

.logo-wrapper {
    height: 70px;
    margin-right: auto; 
}

.logotype {
    height: 100%;
}

.header__list {
    list-style: none;
    margin-right: 20px;
    font-size: 0;
}

.header__list-item {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: ' ';
        height: 4px;
        width: 4px;
        background-color: white;
        margin: 0 16px;
        border-radius: 50%;
  }
    &:last-child:after {
        display: none;
  }
}

.header__list-link {
    @include link-decoration;
    vertical-align: middle;
    &:hover {
        text-decoration: underline;
    }
}

.order-button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #e45028;
    text-align: center;
    line-height: 34px;
    &:hover {
        background-color: #c1401e;
    }
}

.order-button__link {
    @include link-decoration;
}

.main__intro {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 950px; 
}

.intro__burger , .intro__text-wrap {
    flex-basis: 50%;  
}

.intro__burger {
    background-image: url(../../img/sections/burger2.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: top;
}

.intro__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.intro__text-headline {
    color: #f9b43b;
    font-family: Gagalin;
    font-size: 72px; 
    margin-top: -90px;
}

.intro__text-main {
    color: white;
    font-family: Lifehack;
    font-size: 65px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 20px;
}