.about {
    background-image: url('../../img/sections/bg-2.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.about__container {
    display: flex; 
    width: 1100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__list {
    list-style: none;
    margin-top: 30px;
}

.about__list-item {
    display: inline-block;
    width: 300px;
    text-align: center;
    vertical-align: top;
    margin-right: 10px;
}

.about__headline-text {
    color: #2f3234;
    font-family: Gagalin;
    font-size: 72px;
    font-weight: 400
}

.about__img-wrap {
    height: 90px;
}

.about__img {
    height: 100%;
}

.about__headline {
    color: #2f3234;
    font-family: Lifehack;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
}


.about__text {
    opacity: 0.8;
    color: #2f3234;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 25px;
}














