@font-face { 
  font-family: 'Ubuntu';       
  src: url("../fonts/Ubuntu.woff");
  font-weight: normal;              
  font-style: normal; 
}

@font-face { 
  font-family: 'Ubuntu';       
  src: url("../fonts/Ubuntu-Bold.woff"); 
  font-weight: bold;              
  font-style: normal;
}

@font-face { 
  font-family: 'Ubuntu';       
  src: url("../fonts/Ubuntu-Light.woff");
  font-weight: 300;              
  font-style: normal; 
}

@font-face { 
  font-family: 'Ubuntu-Medium.woff';       
  src: url("../fonts/Ubuntu-Light.woff"); 
  font-weight: 500;             
  font-style: normal; 
}

@font-face { 
  font-family: 'Lifehack';       
  src: url("../fonts/Lifehack-Medium.woff"); 
  font-weight: normal;             
  font-style: normal; 
}

@font-face { 
  font-family: 'Gagalin';       
  src: url("../fonts/Gagalin-Regular.woff"); 
  font-weight: normal;             
  font-style: normal; 
}
